body{
    background-color: yellow;
}

#image-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 50px;
    justify-content: center;
    padding-top: 10vh;
}

img {
    border: solid black;
    border-width: 10px;
    border-radius: 5px;
}

#button_container {
    display: grid;
    justify-content: center;
    padding-top: 5vh;

}

header {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin: 0px;
    text-align: center;
    padding-top: 3vh;
}

button {

    font-size: 24px;
    border: solid black;
    border-width: 10px;
    padding: 10px;
    background-color: black;
    color: yellow;
    font-weight: bold;

}

button:hover{
    background-color:yellow;
    color:black;
    font-weight: bold;
    border: solid yellow;
    border-width: 10px;
}